snippet h1 "Header 1" iA
# $0
endsnippet

snippet h2 "Header 2" iA
## $0
endsnippet

snippet h3 "Header 3" iA
### $0
endsnippet

snippet itlc "Italic" iA
*$1*$0
endsnippet

snippet bld "Bold" iA
**$1**$0
endsnippet

snippet inlncode "Inline Code" iA
\`$1\` $0
endsnippet

snippet codeblock "Code Block" iA
\`\`\`$1\`\`\`
$0
endsnippet

snippet lnk "insert hyperlink" A
[$1]($0)
endsnippet
